@use "./variables" as *;
@use "./mixins" as *;

// Default Styles

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: $white;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  width: 100%;
}

label {
  margin: 0;
}

fieldset,
button {
  border: none;
  padding: 0;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  padding: 3% 0 5% 0;
}

a,
button {
  display: inline-block;
  text-decoration: none;
  color: $black;
  transition: 300ms;

  &:hover,
  &:focus {
    cursor: pointer;
  }

  &.button {
    padding: 10px 15px;
    font-weight: $fw-bold;
    min-width: 135px;
    text-align: center;

    &.primary {
      background-color: $primary;
      color: $black;
      border: $transparent 2px solid;
      &:hover,
      &:focus {
        background-color: $tertiary;
        border: $transparent 2px solid;
      }
    }

    &.secondary {
      background-color: $secondary;
      color: $black;
      border: $transparent 2px solid;
      &:hover,
      &:focus {
        background-color: $tertiary;
        border: $transparent 2px solid;
      }
    }
  }
}

