@use './variables' as *;

// Footer Styles

footer {
  padding: 1% 0;

  a {
    margin: 0 0.2em;
    border-bottom: 1px solid $black;
    font-size: $fs-default;
    font-weight: $fw-default;

    &:hover,
    &:focus {
      border-bottom: 1px solid $tertiary-dark;
      color: $tertiary-dark;
    }
  }
}

.footer-text {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}