@use "./variables" as *;
@use "./mixins" as *;

// Navigation Styles
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bkgd {
  // background-color: $light-bkgd;
  width: 100%;
  padding: 1% 0;
}

.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  width: 35%;
  position: relative;
  z-index: 20;

  .h1-link {
    transition: 300ms;
    padding: 0.5em 1.5em;
    margin-left: -1.5em;
    border: $transparent 1px solid;

    &:hover,
    &:focus {
      border: $black 1px solid;
    }
    &::after {
      content:".";
      color: $primary;
      font-size: $fs-lrg;
      line-height: .2;
    }
  }
}

.desktop-nav {
  width: 65%;
  display: flex;
  justify-content: flex-end;
}

.mobile-nav {
  display: none;
}

.nav-ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  li a {
    padding: 0.5em 1.5em;
    margin-left: 0.5em;
  }
}

.menu-link {
  border: 1px solid $transparent;
  font-weight: $fw-default;

  &:hover,
  &:focus {
    border: 1px solid $black;
  }
}

// Mobile Menu Styles

.nav-menu {
  background-color: $transparent;
}

.nav-button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: $fs-lrg;
  background-color: $transparent;
  transition: 500ms;
  z-index: 20;
}

.nav-button.clicked {
  display: none;
  color: $tertiary-dark;
  transition: 300ms;
  rotate: -45deg;

  &:hover,
  &:focus {
    border: none;
    color: $black;
  }

}

.nav-button.unclicked {
  display: none;
  color: $black;
  transition: 300ms;
  rotate: 0deg;

  &:hover,
  &:focus {
    border: none;
    color: $tertiary-dark;
  }
  }


