@use "./variables" as *;
@use "./mixins" as *;

// Navigation Styles
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bkgd {
  // background-color: $light-bkgd;
  width: 100%;
  padding: 1% 0;
}

.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  width: 35%;
  .h1-link {
    transition: 300ms;
    padding: 0.5em 1.5em;
    margin-left: -1.5em;
    border: $transparent 1px solid;
    &:hover,
    &:focus {
      border: $black 1px solid;
    }
  }
}

nav {
  width: 65%;
  display: flex;
  justify-content: flex-end;
}

.nav-ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  li a {
    padding: 0.5em 1.5em;
    margin-left: 0.5em;
  }
}

.menu-link {
  border: 1px solid $transparent;
  font-weight: $fw-default;
  &:hover,
  &:focus {
    border: 1px solid $black;
  }
}

// Mobile Menu Styles

.nav-menu {
  background-color: $white;
}

.nav-button.unclicked {
  position: absolute;
  right: 10%;
  top: 8px;
  display: none;
  font-size: $fs-lrg;
  background-color: $transparent;
  transition: 300ms;

  &:hover,
  &:focus {
    border: none;
    rotate: -90deg;
    color: $tertiary-dark
  }
}