@use './variables' as *;

// Poll Confirmation Page

// .confirmation-container styles are outlined on the voting-confirmation stylesheet.

.confirm-graphic {
margin: 2% 0 6% 0;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  .button {
    margin: 0 2%;
  }
}