@use "./variables" as *;
@use './mixins' as *;

// Sweet Alert Pop-up Styles

.swal2-html-container,
.swal2-popup {
  @include body($fs-default);
}

.swal2-popup {
  border: 1px solid $primary;
  border-radius: 0px;
}

.swal2-styled {
  padding: 10px 20px;
  border: 1px solid $primary;
  color: $white;
  font-family: $ff;
  font-weight: $fw-bold;
  transition: 300ms;

  &.swal2-confirm {
    border: none;
    border-radius: 0px;
    background-color: $primary;
    color: $black;

    &:hover {
      border: none;
      background-color: $tertiary;
    }
  }

  &.swal2-cancel {
    border: none;
    border-radius: 0px;
    background-color: $secondary;
  }

  &:hover {
    border: none;
    background-color: $tertiary;
  }
}