@use "./variables" as *;
@use './mixins' as *;

// // attempting to change font size of sweetalert2 text
.swal2-html-container,
.swal2-popup {
  @include body($fs-default);
}

.swal2-popup {
  border-radius: 0px;
  border: 1px solid $primary;
}

.swal2-styled {
  color: $white;
  padding: 10px 20px;
  font-family: $ff;
  font-weight: $fw-bold;
  border: 1px solid $primary;
  transition: 300ms;
  &.swal2-confirm {
    background-color: $primary;
    color: $black;
    border: none;
    border-radius: 0px;
    &:hover {
      background-color: $tertiary;
      border: none;
    }
  }
  &.swal2-cancel {
    background-color: $secondary;
    border: none;
    border-radius: 0px;
  }
  &:hover {
    background-color: $tertiary;
    border: none;
  }
}