@use "./variables" as *;

.voting-booth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  flex-wrap: wrap;
}

.voting-question {
  width: 100%;
}

.voting-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  min-width: 350px;
  margin: 5% auto;
  padding: 2%;
  border: 2px solid $primary;
  box-shadow: 0px 3px 20px 2px rgba(122, 122, 122, 0.36);

  h3 {
    text-align: center;
    width: 80%;
    margin: 2% auto;
  }
}

.voting-image {
  width: 60%;
  margin: 5% 0;
}

.voting-booth-form {
  width: 100%;
  margin: 3% 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

legend {
  margin: 2% 0;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

label {
  display: inline-block;
  width: 100%;
  padding: 2% 0;
  border: 1px solid $tertiary;
  text-align: center;
  margin: 2% 0;
  text-transform: capitalize;
}

label:hover,
label:focus,
input[type="radio"]:checked+label,
input[type="radio"]:focus+label {
  border: solid 1px $tertiary;
  background-color: $tertiary;
}

button[type="submit"] {
  align-self: center;
  margin-top: 10%;
}

.secondary-buttons {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    margin: 0 2%;
  }
}
